.calendar-wrapper {
	width: 100%;
	/* TODO: Remove min-height after done */
	min-height: 80vh;
	border-radius: .5rem;
	background-color: cornflowerblue;
}

.calendar-header {
	width: 100%;
	height: 3rem;
}

.calendar-contents {
	width: 100%;
}