.calendar-wrapper {
	width: 100%;
	border-radius: .5rem;
	background-color: cornflowerblue;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.calendar-header {
	width: 100%;
	height: 7vh;
	font-size: calc(10px + 2vmin);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border: 1px solid white;
}

.calendar-header > * {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.calendar-header-controls-left, .calendar-header-controls-right {
	border: 0 solid black;
	width: 5%;
}

.calendar-header-controls-left {
	border-right-width: 1px;
}

.calendar-header-controls-right {
	border-left-width: 1px;
}

.calendar-contents {
	width: 100%;
	border-radius: .5rem;
	background-color: white;
	border: 2px solid cornflowerblue;
	flex-grow: 1;
}

.calendar-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	height: 15vh;
	background-color: white;
	border: 1px solid cornflowerblue;
}

.calendar-cell {
	flex-grow: 1;
	border: 1px solid cornflowerblue;
	height: 100%;
	z-index: 0;
	position: relative;
}

.calendar-cell.disabled {
	background-color: lightgray;
}

.calendar-cell-layer {
	display: flex;
	flex-grow: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.calendar-cell-number {
	justify-content: flex-start;
	padding: 5%;
}

.calendar-row-weekly {
	/* Multiply calendar-row.height by 5 */
	height: 75vh;
}