.calendar-cell.weekend {
	background-color: lightgray;
}

.calendar-cell.disabled {
	background-color: gray;
}

.calendar-cell-layer {
	display: flex;
	flex-grow: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.calendar-cell-number {
	align-self: flex-start;
	padding: .75rem 0 .2rem .75rem;
}

.calendar-event-layer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.calendar-event-container {
	width: 100%;
	height: 100%;
	padding: 0 5% .5rem;
	overflow: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow-y: scroll;
}

.calendar-event-container::-webkit-scrollbar {
	display: none;
}

.calendar-event-entry {
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	min-height: 1.5rem;
	background-color: var(--secondary);
	border: 1px solid var(--light);
	border-radius: .25rem;
	padding: .25rem .5rem;
	margin: .4rem 0;
	transition-duration: .25s;
	transition-property: padding, border-radius, margin, opacity;
	display: none;
	opacity: 0;
}

.zoom-level-week .focused-week .calendar-event-entry, .zoom-level-day .focused-day .calendar-event-entry {
	display: flex;
	opacity: 1;
}

.zoom-level-month .calendar-event-entry {
	display: none;
	padding-top: 0;
	padding-bottom: 0;
	margin: .1rem 0;
	border-radius: .25rem;
}